#verify_location_container{:style => "display: none"}
  #verify_location
    %p Please verify the below location:
    .clear
    #verify_location_button_yes.button.positive Verify!
    #verify_location_button_no.button.negative Incorrect
#postcode_form_container{:style => "display: none"}
  #postcode_form
    %p Please enter your postcode:
    .clear
    %input#postcode_text{:type => 'text', :size => 10, :value => 'SW6 1SH'}
    #postcode_button_submit.button.positive Find Me!

#wrapper
  #map_canvas{:style => "width:100%; height:100%"}
#sidebar
  #hospital_filters
    #hospital_filter_button_distance.hospital_filter_button.active Distance
    #hospital_filter_button_agony.hospital_filter_button Agony
    #hospital_filter_button_wait.hospital_filter_button Wait Time
  .clear
  %ul#hospital_list