#= require css3buttons
#= require_self
#= require facebox
#= require html5-boilerplate

/* Core styles for body/containers */
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#container{ width: 100%; height: 100%; position: relative}
#main{ width: 100%; height: 100%; position: relative;}
#wrapper{ width: 100%; height: 100%; position: relative}


/* Fonts */
body, select, input, textarea {
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-variant: normal;
    font-weight: 300;
}

a {
  color: #006BB7;
  &:active{
    color: #006BB7;
  }
}

.clear{clear:both}

/* Fluid Layout */
#header{min-height: 90px;}
#wrapper{float:left;width:100%;}
#map_canvas{float:left;width:100%;height:400px}
#sidebar{float:right;width:300px;margin: 0;}
#footer{clear:both;width:100%}

/* Fluid Layout Styles */
#header{height:90px; background: white}
#map_canvas p{line-height:1.4}
#map_canvas h1{font-size: 18pt;}
#sidebar{background:#FFF}
#footer{background: #333;color: #FFF}
#footer p{margin:0;padding:5px 10px}
#sidebar{
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
    overflow: scroll;
}

/* Buttons */
.button {
    cursor: pointer;
    color: #333;
    text-shadow: #EEE 0 1px 1px;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    padding: 5px 10px 6px;
    height: 11px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: 1px solid #B2B2B2;
    border-top-color: #C9C9C9;
    border-bottom-color: #9A9A9A;
    background: url(../assets/button_bg.png) repeat-x left top;
    float: left;

    &.positive{
        color: white;
        background-image: url(../assets/button_bg_green.gif);
        border-color: #4BA47C;
        border-top-color: #53B388;
        border-bottom-color: #459671;
        text-shadow: #AAA 0 -1px 0;
    }
}

.title{
  font-size: 60px;
  text-indent: -2000px;
  color: white;
  width: 460px;
  height: 90px;
  display: block;
  background-image: url(../assets/logo.png);
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  background-repeat: no-repeat;
}

.header_desc{
  font-size: 22pt;
  float: center;
  padding-top: 15px;
  width: 928px;
  margin: auto;
  color: #006bb7;
}

.header_buttons{
  padding: 5px;
  float: right;
}

.header_text{
  color: hsla(0, 0%, 95%, .85);
  font-size: 16px;
  padding: 5px;
  padding: 5px;
  text-align: right;
}

#treasure_filters{
    padding: 15px;
    .treasure_filter_button{
        float: left;
        padding: 5px;
        margin-right: 5px;
        border: 1px solid #EEE;
        cursor: pointer;

        &:hover{
            background: hsla(207, 45%, 55%, 1);
            color: #FFF;
        }
        &.active{
            background: hsla(207, 45%, 55%, 1);
            color: #FFF;
        }
    }
}


#treasure_list{
    margin: 15px;
    border-top: 1px #E5E5E5 solid;

    li{
        list-style: none;
        background-color: hsla(0, 0%, 95%, .85);
        display: block;
        margin: 0px;
        border-bottom: 1px #E5E5E5 solid;
        padding: 15px;
        cursor: pointer;

        &.highlighted{
            background-color: #99D6FF;
        }
    }
}

/* Sidebar */
.highlight {font-weight: bold}

#verify_location{
    p{ margin-bottom: 10px; }
    .button{ margin-right: 10px; }
}

#postcode_form{
    p{ margin-bottom: 10px; }
    #postcode_text{
        float: left;
        margin-right: 10px;
    }
}

#facebox .content.postcode_form{
    width: 250px;
}

#user_normal{
    width: 600px;
    margin: 10px auto;
    padding: 15px;
    background-color: #FFF;
    border: 2px solid #EEE;
    font-size: 20px;

   h2{
        font-size: 20px;
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
        padding-bottom: 5px;
        border-bottom: solid 2px #EEE;
    }

    table td{
      padding-right: 30px;
    }
}

#user_wide{
    width: 1200px;
    margin: 10px auto;
    padding: 15px;
    background-color: #FFF;
    border: 2px solid #EEE;
    font-size: 20px;

   h2{
        font-size: 20px;
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
        padding-bottom: 5px;
        border-bottom: solid 2px #EEE;
    }

    table td{
      padding-right: 30px;
    }
}

/* Treasure Delay Time Updates */
#treasure_delay_time{
    width: 600px;
    margin: 10px auto;
    padding: 15px;
    background-color: #FFF;
    border: 2px solid #EEE;
    font-size: 20px;

   h2{
        font-size: 20px;
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
        padding-bottom: 5px;
        border-bottom: solid 2px #EEE;
    }
    #new_delay{
        margin-bottom: 15px;

        .errors{
            padding: 10px;
            list-style-type:none;
            margin: 0px;
            margin-bottom: 10px;
        }

        #current_waiting_time_container{
            float:left;
            border-right: 2px solid #EEE;
            display: block;
            height: 40px;
            padding-right: 15px;
            width: 360px;

            #current_waiting_time{
                float:right;
                padding-top: 8px;

                #delay_minutes{
                    font-size: 28px;
                    border: 2px solid #EEE;
                    background-color: #E5FAFF;
                    height: 40px;
                    padding: 0px;
                    margin: 0px;
                    margin-right: 10px;
                }

            }
        }

        #update_waiting_time_container{
            float:left;
            display: block;
            height: 40px;
            padding-left: 15px;
            width: 200px;

            #update_waiting_time{
                float:left;

                #delay_submit{
                    padding: 0px;
                    margin: 0px;
                    height: 45px;
                    padding: 0px 10px;
                    border: 2px solid #EEE;
                    background-color: #DBFFB3;
                    float:left;
                }
                .field_with_errors{
                    float:left;
                }
            }
        }
    }

    #last_updated{
        text-align: center;
        font-size: 16px;
    }

}

#centered{
    text-align: center;
    font-size: 16px;
}

.clear{
    clear: both;
}

.notice {
    background-color: #FEEFB3;
    border: 2px solid #fdda4e;
}

.error {
    background-color: #fec9b3;
    border: 2px solid #fd824e;
}

.message {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
