=alert
.header_desc
  %img{:src => image_path("mwwlogo.png")}
  %ul#header_nav
    %li
      Home
    %li
      Calendar
    %li
      My Account
  %img{:src => image_path("logo.png")}
.header_buttons
  #add_treasure_btn.btn Add a Treasure

