=alert
.header_desc
  %img{:src => image_path("mwwlogo.png"), :style => "height: 85px"}
  %ul#header_nav
    %li
      Home
    %li
      Calendar
    %li
      My Account
  %img{:style => "", :src => image_path("logo.png")}
