=alert
.header_desc
  %img{:src => image_path("mwwlogo.png")}
  %ul#header_nav
    %li
      Home
    %li
      Calendar
    %li
      My Account
  %img{:style => "padding-top:58px;", :src => image_path("logo.png")}
